.notices {
  padding-top: 4rem;
}
.notice__image {
  width: 100px !important;
  height: 100px !important;
}
.notice__title {
  color: rgb(169, 169, 169);
  font: 0.5rem !important;
}
.notice__date {
  color: rgb(169, 169, 169);
}
.message {
  text-align: justify;
}
.card-body {
  height: 20rem;
  overflow: hidden;
  margin-bottom: 1rem !important;
}
.button__notice {
  background-color: #3794ff;
  color: white;
  cursor: pointer;
  z-index: 5;
  width: 6rem;
  text-align: center;
  margin-left: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.button__expand {
  height: auto;
}
